@use "variables.module" as v;
@use "nprogress";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  min-width: 320px;

  color: v.$black;
}

#__next {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Others

p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

a {
  color: #222222;
  text-decoration: none;
}

// Dark Theme
.dark {
  background-color: #121212;
  color: white;
  a {
    color: white;
  }

  svg {
    color: white;
    fill: white;
  }
}
