.header {
  width: 100%;
  nav {
    display: flex;
    justify-content: flex-end;

    a {
      margin-top: 20px;
      margin-right: 20px;
    }

    @media (max-width: 1000px) {
      justify-content: center;
      a {
        margin: 10px 25px;
      }
    }
  }
}
