@use "../../styles/variables.scss" as v;

.container {
  margin: 100px;

  @media screen and (max-width: 750px) {
    margin: 0;
  }
}

.title {
  overflow-wrap: anywhere;

  line-height: 1.15;
  font-size: 2rem;
  text-align: center;

  h1 {
    overflow-wrap: anywhere;
    margin: 50px 0;
  }
}

.content {
  border-top: 1px solid v.$borderDark;
  padding-top: 50px;
  p {
    text-align: start;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
  }
}
