@use "variables.module" as v;
@use "borders";

.warning {
  border-radius: 4px;
  background-color: #ffd966;
  padding: 12px 16px;
  color: #333;
  font-weight: bold;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.header {
  @extend %bottomBorder;
  display: flex;
  justify-content: center;

  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
}

.links {
  display: flex;
  gap: 30px;

  a,
  button,
  p {
    align-self: center;
    margin: 0;
    font-weight: 600;

    font-size: large;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      color: v.$blue;
    }
  }

  button {
    border: none;
    background: none;
    padding: 0;
    color: unset;
    font-family: unset;
  }

  .logo {
    transform: translateY(-15px);
    color: v.$blue;
    font-weight: 400;
    font-size: 5em;

    line-height: 60px;
    font-family: "Pacifico", cursive;
  }
}
