@import "../../styles/card";

.card {
  @extend %verticalCard;
  box-sizing: border-box;

  height: auto;
  width: 600px;
  max-width: 95vw;
  align-self: center;

  & > div,
  & > button {
    margin: 10px 0;
  }
}
