@use "variables.module" as v;

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  margin-bottom: 50px;
  text-align: center;

  h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;

    span {
      color: v.$blue;
    }
  }

  @media screen and (max-width: 500px) {
    margin: 50px;
  }
}

.cursive {
  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
  }
}

.small {
  h1 {
    font-size: 3rem;
  }
}
