@use "card";
@use "variables.module" as v;

.title {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 80px;
  color: v.$blue;

  margin: 0;
  text-align: center;
}

.card {
  @extend %verticalCard;
  margin: auto;

  & > button {
    font-family: roboto, sans-serif;
  }
}
