@use "variables.module" as v;
@use "borders";

.footer {
  @extend %topBorder;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  margin-top: 50px;

  p {
    font-size: 1em;
    a {
      color: v.$blue;
      white-space: nowrap;
    }
  }

  & > form > label {
    font-size: 0;
  }
}
