name: TypeScript

on: [push, pull_request]

jobs:
  TypeScript:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@v3
      - name: Setup Node.js 14
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: latest
          run_install: true
      - name: Run Type Checking
        run: pnpm tsc
